---
import ClientLoad from "@components/ClientLoad.svelte";
import ClientVisible from "@components/ClientVisible.svelte";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <ClientLoad client:load />
		<div style="height: 200vh;">Scroll down...</div>
        <ClientVisible client:visible />
    </body>
</html>
